@import "../../base";

.products__sect {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: 2;
  gap: 1rem;

  .link {
    text-decoration: none;
  }
}

.products__title {
  font-size: 2rem;

  grid-column: 2 / 4;
  grid-row: 1 / 1;

  margin-top: 2rem;
}

.see-all__link {
  text-align: right;

  grid-column: 8 / 10;
  grid-row: 1 / 1;

  margin-top: auto;
}

.see-all__link::after {
  content: url(../../../imgs/arrow_see-all.svg);
}

.products-only__sect {
  grid-row: 2 / 2;
  grid-column: 2 / 10;

  display: flex;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;

  .product__div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    max-width: 176px;

    .img {
      max-height: 174px;
    }
  }
}
