@import "../../base";

.products__sect {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: 0.2fr 2fr;
  gap: 0.5rem;

  .link {
    text-decoration: none;
  }
}

.products__title {
  font-size: 2rem;

  grid-column: 2 / 4;
  grid-row: 1 / 1;

  margin-top: 2rem;
}

.see-all__link {
  text-align: right;

  grid-column: 8 / 9;
  grid-row: 1 / 1;

  margin-top: auto;
}

.see-all__link::after {
  content: url(../../../imgs/arrow_see-all.svg);
}

.products-only__sect {
  grid-row: 2 / 2;
  grid-column: 2 / 9;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0.5;
  gap: 2rem;

  width: auto;
  max-width: 100%;

  .product__div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    max-width: 176px;

    .img {
      width: auto;
      height: auto;
      max-height: 174px;
    }
  }

  @media screen and (max-width: 768px) {
    :nth-child(n + 5) {
      display: none;
    }
  }
}
